<div class="headerDiv">
  <div class="mainNav">
    <ul class="hamburgerMenu pointer">
      <li class="hamburgerMenu"></li>
      <li class="hamburgerMenu"></li>
      <li class="hamburgerMenu"></li>
    </ul>
    <ul class="nav">
      <!-- navigation ul here -->
    </ul>
  </div>
</div>