<div id="headerDiv">
  <nav id="hamburgerMenuNav">
    <ul>
      <li class="hamburgerMenu"></li>
      <li class="hamburgerMenu"></li>
      <li class="hamburgerMenu"></li>
    </ul>
  </nav>
    <nav id="mainNav">
      <ul class="nav">
        <li id="logoutLi" class="navLis">LOGOUT</li>
      </ul>
    </nav>
</div>