<%- include('partials/head')%>
<%- include('partials/nav')%>
    <main data-username="<%= name %>" id="chatMain" >
        <div class="container">
            <div class="users-window">
                <div class="users-head">
                    <h3>People</h3>
                    <h4 class = "users-count">3</h4>
                </div>
                <div class="users-list">
                </div>
            </div>
            <div class="chat-window">
                <div class="chats">
                </div>
                <div class="user-input">
                    <input id="user-msg" type="text" placeholder="Type your text">
                    <button id= "user-send" type="button">SEND</button>
                </div>
            </div>
        </div>
    </main>
    <!-- So this is basically the code for client side things -->
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="module" src="/javascripts/chat.js"></script>
    <%- include('partials/footer') %>