<%- include('partials/head')%>
<%- include('partials/nav')%>

<div id="mainDiv">
    <div class="divbox">
        <h1><%= title %></h1>
        <div id="memebersDiv">
            <h2 class="subTitle">Members</h2>
            <ul>
                <li class="name">Izzy</li>
                <li class="name">Divanshu</li>
                <li class="name">Gaurav</li>
                <li class="name">Misam</li>
                <li class="name">Garsha</li>
            </ul>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
