<%- include('partials/head')%>
<section id="signupSection" class="signupLoginSection">
  <div>
    <h2 class="sectionTitle">Sign up</h2>
    <div class="inputDiv">
      <label for="name"></label>
      <input id="newUsername" class="signupLoginInputs" type="text" name="name" placeholder="name" required>
    </div>
    <div class="inputDiv">
      <label for="email"></label>
      <input id="newEmail" class="signupLoginInputs" type="email" name="email" placeholder="email" required>
    </div>
    <div class="inputDiv">
      <label for="password"></label>
      <input id="newPassword" class="signupLoginInputs" type="password" name="password" placeholder="password" required>
    </div>
    <button id="signupBtn" class="btn signupLoginBtn">Sign up</button><br>
    <a class="logSignMoveBtn" href="/login">Already have an account?</a>
  </div>
</section>
<%- include('partials/footer') %>