<%- include('partials/head')%>
<%- include('partials/nav')%>
<section id="userSection">
  <div id="userNameDiv">
    <h2><%- username%></h2>
  </div>
  <div id="friendsDiv">
    <h3>My Friends</h3>
    <ul>
      <!-- add list here -->
    </ul>
  </div>
</section>

<%- include('partials/footer') %>