<%- include('partials/head')%>
<%- include('partials/nav')%>
<section id="userSection">
  <div id="userNameDiv">
    <h2><%- username%></h2>
  </div>
  <div id="friendsDiv">
    <h3 class="subTitle">My Friends</h3>
    <ul id="friendUl">
      <li class="myFriend"><p>Izzy</p></li>
      <li class="myFriend"><p>Bob</p></li>
      <li class="myFriend"><p>Ben</p></li>
      <!-- add list here -->
    </ul>
  </div>
</section>

<%- include('partials/footer') %>