@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --background-color: #94D1A9;
  --background-color-two: #526cd4;
  --background-color-three: #fafafa;
  --font-color-one: #252a6d;
  --font-color-two: #E9E9E9;
  --main-color: #1ab98c;
  --point-color: #b7d339;
  --sub-color: #1E3179;
  --success-color: #28B330;
  --error-color: #C94F45;
  --btn-background-color-one: #1E685F;
  --btn-background-color-two: #658687;
  --btn-hover-color-one: #111b1a;
  --btn-hover-color-two: #2e3636;
  --google-color: #DB4437;
  --google-color-hover: #75271f;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
p,
nav,
body,
ul,
li {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

a {
  color: var(--font-color-two);
  text-decoration: none;
}

.btn {
  border-radius: 6px;
  font-size: 1.4rem;
  background-color: var(--btn-background-color);
  color: var(--font-color-two);
  padding: 1%;
  border: none;
}

.btn:hover {
  background-color: var(--sub-color);
}

li {
  list-style: none;
}

.subTitle {
  color: var(--font-color-one);
  font-size: 2rem;
}

/* navigation page */

ul.nav {
  padding: 0;
}

#headerDiv {
  background-color: var(--sub-color);
  width: 100%;
  padding: 3% 0;
}

#hamburgerMenuNav {
  display: none;
}

.nav {
  text-align: center;
  position: relative;
}

.nav li{
  display: inline-block;
  margin-right: 7%;
  position: relative;
  color: white;
}

.navLis {
  color: var(--font-color-two);
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.fas {
  color: var(--font-color-two);
  font-size: 1.7rem;
}

.navLis:hover, .fas:hover {
  color: var(--point-color);
  cursor: pointer;
}

.fa-caret-down {
  position: absolute;
  font-size: 3rem;
  right: 5%;
  top: 1%;
}
#moreNavDiv {
  position: relative;
}

#moreNav {
  display: none;
}

#moreNav.show {
  display: block;
  background-color: var(--background-color-two);
  position: absolute;
  padding: 8%;
  top: 0;
  right: 0;
  z-index: 1;
}

.fa-sign-out-alt {
  margin-left: 20px;
}

.msg {
  color: var(--font-color-two);
  position: absolute;
  font-size: 15px;
  top: 10;
}

/* signup/login */

.sectionTitle {
  margin-bottom: 3%;
  font-size: 2.4rem;
}

.signupLoginSection {
  text-align: center;
  border-radius: 6px;
  padding: 3% 0;
  margin: 5%;
}

.signupLoginInputs {
  border: none;
  width: 40%;
  border-radius: 6px;
  font-size: 1.3rem;
  margin-bottom: 2%;
  padding: 0.5% 0.6%;
}

.signupLoginBtn {
  width: 42%;
  margin-bottom: 2%;
}

.logSignMoveBtn {
  font-size: 1.5rem;
}

.logSignMoveBtn:hover {
  color: var(--font-color-one);
}

/* Signup page */

#signupSection {
  background-color: var(--background-color);
}

#signupBtn {
  background-color: var(--btn-background-color-one);
}

#signupBtn:hover {
  background-color: var(--btn-hover-color-one);
}
/* login page */
#loginSection {
  background-color: var(--background-color-two);
}

#loginBtn {
  background-color: var(--btn-background-color-two);
  margin-bottom: 3%;
}

#loginBtn:hover {
  background-color: var(--btn-hover-color-two);
}

#google {
  margin: 0 auto;
  background-color: var(--google-color);
  width: 40%;
  margin-top:3%;
}

#google:hover {
  background-color: var(--google-color-hover);
}

/* user page */

#userNameDiv {
  background-color: var(--background-color);
  text-align: center;
  color: var(--font-color-two);
  padding: 7% 0;
  font-size: 1.6rem;
}

#friendsDiv {
  margin: 10% 5%;
  background-color: var(--background-color);
  padding: 3%;
  color: var(--font-color-two);
  border-radius: px
}

#friendUl {
  margin-top: 5%;
}

.myFriend {
  background-color: var(--sub-color);
  display: inline-block;
  margin-right: 3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.myFriend p {
  text-align: center;
  margin-top: 40%;
  font-size: 1.6rem;
  color: var(--font-color-two);
}

.myFriend p:hover {
  cursor: pointer;
  color: var(--point-color);
}

footer {
  background-color: var(--sub-color);
  color: var(--font-color-two);
  padding: 5%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* index */

#mainDiv {
  background-color: var(--background-color);
  padding: 3% 2%;
  color: var(--font-color-one);
  text-align: center;
}

.divbox {
  margin: 0 auto;
  width: 70%;
  height: 30%;
  border-radius: 7px;
  background-color: var(--background-color-three);
  padding: 2%;
}

#memebersDiv {
  border-top: 1px solid var(--font-color-one);
  margin: 3%;
  padding-top: 3%;
}

.name {
  margin-top: 2%;
  font-size: 1.2rem;
  color: var(--font-color-one);
}

#addFriendDiv {
  background-color: var(--background-color);
}

input, select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #259dff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #d7e7ff;
  padding-top: 20px;
  padding-left: 200px;
  padding-right:200px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #9db6ec;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#username {
  color: #000;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

